<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LB-vue-cli</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.metismenu/2.6.3/metisMenu.min.css"> -->
  <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <!--     <link href="assets/css/common.css" rel="stylesheet"> -->
  <script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.zh-CN.min.js"></script>
  <script src="//cdn.bootcss.com/tinymce/4.3.12/tinymce.min.js"></script>
  <!-- <script src="//cdn.bootcss.com/tinymce/4.3.12/jquery.tinymce.min.js"></script> -->
  <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <!-- <script src='//cloud.tinymce.com/stable/tinymce.min.js'></script> -->
  <!-- <script src="//cdn.jsdelivr.net/jquery.metismenu/2.6.3/metisMenu.min.js"></script> -->
</head>

<body>
  <div id="app">
  </div>
  <!-- built files will be auto injected -->
</body>

</html>
